{% extends 'base.html.twig' %}

{% block title %}People{% endblock %}

{% block body %}
    <h1 class="text-center">People</h1>
    <p class="text-center"> Вот они, слева направо: </p>
    <p class="text-center">
    {% for user in users %}
    {{ user.username }}<br>
    {% endfor %}
    </p>
    
{% endblock %}
